article{
    padding: 15px;
    margin: 24px;
    width: 22%;
    border-radius: 20px;
    background: #302c2e;
    box-shadow:  5px 5px 10px #1b1a1b, 
             -5px -5px 10px #6b686d;
    color: white;
}
article:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
main h3{
    margin: 0px 10px;
}
main img{
    width: 100%;
    margin-bottom: 20px; 
}
.description{
    text-align: justify;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more{
    border: 2px solid white;
    border-radius: 20px;
    width: 26%;
    padding: 5px;
    margin: 10px;
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
    box-shadow:  3px 3px 5px #1b1a1b, 
             -3px -3px 5px #6b686d;
}
.borrar{
    font-size: 18px;
    margin: 10px;
}
.show{
    display: block
}
.hide{
    display: none
}


